@using Identity101.Models.Role
@model Identity101.ViewModels.ChangePasswordViewModel
<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Change Password</title>
</head>
<body>
	<div>
		<h1>
			Change Password
		</h1>
		<h4>
			@ViewBag.Message
		</h4>
		<form asp-action="ChangePassword" asp-controller="Account">
			<div asp-validation-summary="ModelOnly"></div>
			<label asp-for="CurrentPassword"></label>
			<input asp-for="CurrentPassword" />
			<span asp-validation-for="CurrentPassword"></span><br />
			<label asp-for="NewPassword"></label>
			<input asp-for="NewPassword" />
			<span asp-validation-for="NewPassword"></span><br />
			<label asp-for="NewPasswordConfirm"></label>
			<input asp-for="NewPasswordConfirm" />
			<span asp-validation-for="NewPasswordConfirm"></span><br />
			
			<input type="submit" value="Değiştir" />
		</form>
	</div>
</body>
</html>