@model ChangePasswordViewModel
@{
    Layout = "_Layout";
    
}

<div class=" content-area">
    <div class="page-header">
        <h4 class="page-title">Change Password</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
        </ol>
    </div>

    <div class="row">
        <div class="offset-1 col-lg-10 ">
            <div class="card">
                <div class="card-header"><h2 class="card-title">Change Password</h2></div>
                <div class="card-body">
                    <div class="e-profile">

                        <div class="tab-content">
                            <div class="tab-pane active">
                                <form asp-controller="Account" asp-action="ChangePassword" method="post" class="form">
                                    <div class="row">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col col-md-6">
                                                    <div class="form-group">
                                                        <h4> @TempData["Message"]</h4>
                                                        <label class="form-label">Current Password</label>
                                                        <input name="currentpassword" type="password" class="form-control" asp-for="CurrentPassword" placeholder="Current Password" />
                                                        <span asp-validation-for="CurrentPassword" class="text text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">New Password</label>
                                                        <input name ="newpassword" type="password" class="form-control" asp-for="NewPassword" placeholder="New Password">
                                                        <span asp-validation-for="NewPassword" class="text text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">Confirm New Password</label>
                                                        <input name"newpasswordconfirm" type="password" class="form-control" asp-for="NewPasswordConfirm" placeholder="Confirm New Password">
                                                        <span asp-validation-for="NewPasswordConfirm" class="text text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col col-md-3">
                                                    <a asp-controller="Account" asp-action="Profile" class="btn btn-danger">Cancel</a>
                                                </div>
                                                <div class="col col-md-6">
                                                </div>
                                                <div class="col col-md-3">
                                                    <button class="btn btn-primary " type="submit">Change Password</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
