@model UserProfileViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Profil";
}

<div class=" content-area">
						<div class="page-header">
							<h4 class="page-title">Edit Profile</h4>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Pages</a></li>
								<li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
							</ol>
						</div>
						<div class="row">
							

							<div class="col-lg-8 col-xl-9">
								<div class="card">
									<div class="card-header"><h2 class="card-title">Edit profile</h2></div>
										<div class="card-body">
											<div class="e-profile">
												<div class="row">
													<div class="col-12 col-sm-auto mb-3">
														<div class="mx-auto img-2">
															<img src="..\..\assets\images\faces\male\16.jpeg" alt="">
														</div>
													</div>
													<div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
														<div class="text-center text-sm-left mb-sm-0">
															<div>
																<button class="btn btn-primary btn-block mt-5" type="button">
																	<i class="fa fa-fw fa-camera"></i>
																	<span>Change Photo</span>
																</button>
															</div>
															<button class="btn btn-secondary btn-block mt-2" type="button">
																<i class="fa fa-fw fa-camera"></i>
																<span>Remove Photo</span>
															</button>
														</div>
														<div class="text-center text-sm-right">
															<span class="badge badge-secondary">administrator</span>
															<div class="text-muted"><small>Joined @Model.RegisterDate.ToShortDateString()</small></div>
														</div>
													</div>
												</div>

												<div class="tab-content pt-3">
													<div class="tab-pane active">
														<form class="form" novalidate="">
															<div class="row">
																<div class="col">
																	<div class="row">
																		<div class="col">
																			<div class="form-group">
																				<label class="form-label">Full Name</label>
																				<input type="text" class="form-control" name="example-text-input" placeholder="Name">
																			</div>
																		</div>
																		<div class="col">
																			<div class="form-group">
																				<label class="form-label">Username</label>
																				<input class="form-control" type="text" name="username" placeholder="johnny.s" value=" Christopher">
																			</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="col">
																			<div class="form-group">
																				<label class="form-label">Email</label>
																				<input class="form-control" type="text" placeholder="user@example.com">
																			</div>
																		</div>

																		
																	</div>
																	
																</div>
															</div>
														<div class="float-right mt-0 mb-0">
															
															<button class="btn btn-primary " type="submit">Update Profile</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>

					</div>