<div class="container p-0">
    <div class="row">
        <div class="col-6">
            <div class="card px-4">
                <p class="h8 py-3">Payment Details</p>
                <div class="row gx-3">
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Person Name</p>
                            <input class="form-control mb-3"
                                   type="text"
                                   placeholder="Name"
                                   value="Barry Allen" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Card Number</p>
                            <input class="form-control mb-3"
                                   type="text"
                                   placeholder="1234 5678 435678" id="txt-cardNumber" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Expiry</p>
                            <input class="form-control mb-3"
                                   type="text"
                                   placeholder="MM/YYYY" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">CVV/CVC</p>
                            <input class="form-control mb-3 pt-2"
                                   type="password"
                                   placeholder="***" />
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="btn btn-primary mb-3">
                            <span class="ps-3" id="lbl-total"></span>
                            <span class="fas fa-arrow-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card px-4">
                <p class="h8 py-3">Taksitler</p>
                <div class="row gx-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Taksit</th>
                                <th>Toplam</th>
                            </tr>
                        </thead>
                        <tbody id="tbl-installments">
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        let cart = [];
        let total = 0;
        let selectedInstallments = 1;
        $(() => {
            cart = JSON.parse(localStorage.getItem("cart"));
            if (cart == null || cart.length == 0)
                alert("Sepetiniz boş olamaz!");
            for (let i = 0; i < cart.length; i++) {
                const data = cart[i];
                total += data.count * data.unitPrice;
            }
            $("#lbl-total").html("Toplam Sepet Tutarı: " + total);
            $("#txt-cardNumber").on("blur",
                function() {
                    const cardNumber = $(this).val();
                    if (cardNumber.length == 0)
                        return;
                    let data = {
                        cardNumber: cardNumber,
                        price: total.toString().replace('.', ',')
                    }
                    $.ajax({
                        url: "../taksit-kontrol",
                        method: "POST",
                        data: data
                    }).done((response) => {
                        console.log(response);
                        displayInstallments(response);
                    }).fail((response) => {
                        console.log(response);
                    });
                });
        });
        let displayInstallments = (data) => {
            $("#tbl-installments").empty();
            for (let i = 0; i < data.installmentPrices.length; i++) {
                const ins = data.installmentPrices[i];
                let row = `<tr class='select-installment ${i == 0 ? "table-success" : ""}' data-number='${ins.installmentNumber}'>
                            <th>${ins.installmentNumber}</th>
                            <td>${ins.price}</td>
                            <td>${ins.totalPrice}</td>
                        </tr>`;
                $("#tbl-installments").append(row);
            }
            const select = document.querySelectorAll(".select-installment");
            for (let i = 0; i < select.length; i++) {
                select[i].addEventListener("click",
                    function() {
                        for (let j = 0; j < select.length; j++) {
                            const ff = select[j];
                            $(ff).removeClass("table-success");
                        }
                        $(select[i]).addClass("table-success");
                        let number = $(select[i]).attr("data-number");
                        selectedInstallments = number;
                    });
            }
        };
    </script>
}
    @section Styles
    {
    <style>
        @@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Montserrat", sans-serif;
        }
        .card {
            max-width: 500px;
            margin: auto;
            color: black;
            border-radius: 20px;
        }
        p {
            margin: 0px;
        }
        .container .h8 {
            font-size: 30px;
            font-weight: 800;
            text-align: center;
        }
        .btn.btn-primary {
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            background-image: linear-gradient( to right, #77a1d3 0%, #79cbca 51%, #77a1d3 100% );
            border: none;
            transition: 0.5s;
            background-size: 200% auto;
        }
        .btn.btn.btn-primary:hover {
            background-position: right center;
            color: #fff;
            text-decoration: none;
        }
        .btn.btn-primary:hover .fas.fa-arrow-right {
            transform: translate(15px);
            transition: transform 0.2s ease-in;
        }
        .form-control {
            color: white;
            background-color: #223c60;
            border: 2px solid transparent;
            height: 60px;
            padding-left: 20px;
            vertical-align: middle;
        }
            .form-control:focus {
                color: white;
                background-color: #0c4160;
                border: 2px solid #2d4dda;
                box-shadow: none;
            }
        .text {
            font-size: 14px;
            font-weight: 600;
        }
        ::placeholder {
            font-size: 14px;
            font-weight: 600;
        }
    </style>
                    }